body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.contanier {
    width: 100%;

}

.row {
    display: flex;
}

.w-10 {
    width: 10%;
}

.w-90 {
    width: 90%;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.p-fixed {
    position: fixed;
}